<footer class="py-5 bg-dark">
  <div class="mediaquery container-fluid bg-light d-flex justify-content-center mb-2">
    <img class="img-fluid" src="/assets/pie-nuevo.png" style="height: 60%; width:60%;" alt="">
  </div>
  <div class="container">
    <p class="m-0 text-center  text-white">Copyright &copy; Medical Surgery 2017</p>
  </div>
  <div class="container mt-3">
    <div class="row justify-content-center ">
      <span class="btn-group-sm">
        <button type="button" class="btn btn-outline-light bmd-btn-fab" style="border:solid 1px; border-color: white;">
          <i class="fa fa-twitter-square fa-lg text-light"></i>
        </button>
      </span>
      <span class="btn-group-sm">
        <button type="button" class="btn btn-outline-light bmd-btn-fab mx-3" style="border:solid 1px; border-color: white;">
          <i class="fa fa-facebook-square fa-lg text-light"></i>
        </button>
      </span>
      <span class="btn-group-sm">
        <a href="https://www.instagram.com/medicalsurgery2017">
          <button type="button" class="btn btn-outline-light bmd-btn-fab" style="border:solid 1px; border-color: white;">
            <i class="fa fa-instagram fa-lg text-light"></i>
          </button>
        </a>

      </span>
    </div>
  </div>
</footer>