<app-nav></app-nav>
<div class="container" style="margin-top: 5em;">
  <div class="row justify-content-around">
    <div class="card  mb-3 text-center" style="width: 15rem;">
      <img id="imag" class="card-img-top" src="./assets/laparoscopia.jpg" alt="Card image cap">
      <div class="card-body">
        <h6 class="m-4">Curso actualizado en cirugía laparoscópica </h6>
        <p class="card-text text-lg-center">Proximamente</p>
        <br>
      </div>
      <div class="container mb-2">
        <div class="row justify-content-center align-items-end">
          <div class="col">
            <a class="btn btn-raised bg-danger text-light font-weight-bold">Ver curso</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card  mb-3 text-center" style="width: 15rem;">
      <img class="card-img-top" src="./assets/bls.jpg" alt="Card image cap">
      <div class="card-body">
        <h6 class="m-4">BLS-Soporte vital básico</h6>
        <p class="card-text text-lg-center">Proximamente</p>
      </div>
      <div class="container mb-2">
        <div class="row justify-content-center align-items-end">
          <div class="col">
            <a  class="btn btn-raised bg-danger text-light font-weight-bold">Ver curso</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card  mb-3 text-center" style="width: 15rem;">
      <img class="card-img-top" src="./assets/sutura.jpg" alt="Card image cap">
      <div class="card-body">
        <h6 class="m-4">Manejo de heridas y sutura</h6>
        <p class="card-tex text-lg-center">Dr. Oswaldo Cantillo</p>
      </div>
      <div class="container mb-2">
        <div class="row justify-content-center align-items-end">
          <div class="col">
            <a [routerLink]="['/content']" class="btn btn-raised bg-info text-light font-weight-bold">Ver curso</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card  mb-3 text-center" style="width: 15rem;">
      <img class="card-img-top" src="./assets/sst.jpg" alt="Card image cap">
      <div class="card-body">
        <h6 class="m-4">SST-Seguridad en el trabajo</h6>
        <p class="card-tex text-lg-center">Proximamente</p>
      </div>
      <div class="container mb-2">
        <div class="row justify-content-center align-items-end">
          <div class="col">
            <a  class="btn btn-raised bg-danger text-light font-weight-bold">Ver curso</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>