<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark   fixed-top p-2" id="mainNav">
  <div class="container-fluid ">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="font-weight-bold fon">MS</span> Medical Surgery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="material-icons text-light">menu</i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['']"  class="nav-link js-scroll-trigger text-light" href="#page-top">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger  text-light" href="#cursos">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger  text-light" href="#contact">Contactanos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger  text-light" href="#equipo">Equipo MS</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['signon']" class="nav-link js-scroll-trigger  text-light">Registrate</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['loging']"   class="nav-link js-scroll-trigger text-light font-weight-bold "><i class="fa fa-sign-in fa-lg mx-3" aria-hidden="true"></i>Ingresar</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
