<section id="cursos" class=" mt-5">
  <div class="container">
          <h2 class="text-center text-secondary mb-5 p-5">Cursos destacados</h2>
          <hr class="bg-secondary mb-5" >
          <div class="row justify-content-around">
            <div class="card  mb-3 text-center" style="width: 15rem;">
                <img id="imag" class="card-img-top" src="./assets/laparoscopia.jpg" alt="Card image cap">
              <div class="card-body">
                <h6 class="m-4">Curso actualizado en cirugía laparoscópica </h6>
                <p class="card-text text-lg-left">Dr...</p><br>                            
              </div>
              <div class="container mb-2">
                  <div class="row justify-content-center align-items-end">
                    <div class="col">
                        <a href="#" class="btn btn-raised bg-info text-light font-weight-bold">Ver curso</a>
                    </div>
                  </div>  
              </div> 
            </div>
            <div class="card  mb-3 text-center" style="width: 15rem;">
                <img class="card-img-top" src="./assets/bls.jpg" alt="Card image cap">
              <div class="card-body">
                <h6 class="m-4">BLS-Soporte vital básico</h6>
                <p class="card-text text-lg-left">Dr...</p>                                        
              </div>
              <div class="container mb-2">
                  <div class="row justify-content-center align-items-end">
                    <div class="col">
                        <a href="#" class="btn btn-raised bg-info text-light font-weight-bold">Ver curso</a>
                    </div>
                  </div>  
              </div>    
            </div>
            <div class="card  mb-3 text-center" style="width: 15rem;">
                <img class="card-img-top" src="./assets/sutura.jpg" alt="Card image cap">
              <div class="card-body">
                <h6 class="m-4">Manejo de heridas y sutura</h6>
                <p class="card-tex text-lg-left">Dr...</p>
              </div>
              <div class="container mb-2">
                  <div class="row justify-content-center align-items-end">
                    <div class="col">
                        <a href="#" class="btn btn-raised bg-info text-light font-weight-bold">Ver curso</a>
                    </div>
                  </div>  
              </div> 
            </div>
            <div class="card  mb-3 text-center" style="width: 15rem;">
                <img class="card-img-top" src="./assets/sst.jpg" alt="Card image cap">
              <div class="card-body">
                <h6 class="m-4">SST-Seguridad en el trabajo</h6>
                <p class="card-tex text-lg-left">Dr...</p>                             
              </div>
              <div class="container mb-2">
                  <div class="row justify-content-center align-items-end">
                    <div class="col">
                        <a href="#" class="btn btn-raised bg-info text-light font-weight-bold">Ver curso</a>
                    </div>
                  </div>  
              </div> 
            </div>
          </div>
        </div>
 
</section>
  
<section id="contact" class="card" style="background-image: url(./assets/contacto.jpg); background-size: cover">
    <h1 class="mb-1 py-3 col-lg-12 text-center text-light font-weight-bold">ESCRIBENOS</h1>
    <br>
    <h3 class=" mb-5 text-center text-light">Nos pondremos en contacto para responder tus inquietudes.</h3>
    <div class="container d-flex justify-content-around align-items-center ">
        <form class="formulario  conten col-lg-8 p-5 m-0 " action="">
            <div class="form-group  ">
                <label for="Nombre" class="bmd-label-floating text-light ">Nombre</label>
                <input type="text" class="form-control text-light " id="nombre">
            </div>
            <div class="form-group">
              <label for="correo" class="bmd-label-floating text-light">Correo</label>
              <input type="email" class="form-control text-light " id="correo">
            </div>
            <div class="form-group">
              <label for="mensaje" class="bmd-label-floating text-light ">Mensaje</label>
              <textarea class="form-control text-light" id="mensaje" rows="3"></textarea>
            </div>
            <div class="form-group  text-center">
              <button class="btn btn-raised btn-info " type="submit">Enviar</button>        
            </div> 
        </form>
    </div>
    
</section>
  
<section class="mt-5"  id="equipo">
  <div class="container">
    <h2 class="text-center mb-5 text-secondary mb-5 py-5">Equipo MS</h2>
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-fluid" src="./assets/fondo1.png" alt="Card image cap">
          <div class="text-center">
          </div>
          <div class="card-body">
            <h4 class="card-title">Maribel Rodriguez Castro</h4>
            <p class="card-text text-center">Instrumentadora quirurgica</p>
          </div>
          <div class="card-footer">
            <div class="container">
              <div class="row justify-content-center ">
                  <a href=""><i class="fa fa-twitter-square fa-lg text-dark"></i></a>
                  <a href=""><i class="fa fa-instagram fa-lg mx-5 text-dark "></i></a>
                  <a href=""><i class="fa fa-facebook-square fa-lg  text-dark"></i></a>            
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="./assets/fonfo2.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Katerin Sarabia Correa</h4>
            <p class="card-text">Instrumentadora quirurgica</p>
          </div>
          <div class="card-footer">
              <div class="container">
                  <div class="row justify-content-center ">
                      <a href=""><i class="fa fa-twitter-square fa-lg text-dark"></i></a>
                      <a href=""><i class="fa fa-instagram fa-lg mx-5 text-dark "></i></a>
                      <a href=""><i class="fa fa-facebook-square fa-lg  text-dark"></i></a>            
                  </div>
                </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="./assets/fondo3.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Andres Madero Vergara</h4>
            <p class="card-text">Desarrollador de sotfware</p>
          </div>
          <div class="card-footer">
              <div class="container">
                  <div class="row justify-content-center ">
                      <a href=""><i class="fa fa-twitter-square fa-lg text-dark"></i></a>
                      <a href=""><i class="fa fa-instagram fa-lg mx-5 text-dark "></i></a>
                      <a href=""><i class="fa fa-facebook-square fa-lg  text-dark"></i></a>            
                  </div>
                </div>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="./assets/fondo4.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">David Mendoza Pardo</h4>
              <p class="card-text">Desarrollador de sotfware</p>
            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row justify-content-center ">
                        <a href=""><i class="fa fa-twitter-square fa-lg text-dark"></i></a>
                        <a href=""><i class="fa fa-instagram fa-lg mx-5 text-dark "></i></a>
                        <a href=""><i class="fa fa-facebook-square fa-lg  text-dark"></i></a>            
                    </div>
                  </div>
            </div>
          </div>
      </div>
    </div>
  </section>

