<section id="cursos" class=" mt-5">
  <div class="container">
    <h2 class="text-center text-secondary mb-5 p-5">Cursos destacados</h2>
    <div class="row justify-content-around">
      <div class="card  mb-3 text-center" style="width: 15rem;">
        <img id="imag" class="card-img-top" src="./assets/laparoscopia.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="m-4">Curso actualizado en cirugía laparoscópica </h6>
          <p class="card-text text-lg-center">Proximamente</p>
          <br>
        </div>
        <div class="container mb-2">
          <div class="row justify-content-center align-items-end">
            <div class="col">
              <a class="btn btn-raised bg-danger text-light font-weight-bold">Proximamente</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card  mb-3 text-center" style="width: 15rem;">
        <img class="card-img-top" src="./assets/bls.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="m-4">BLS-Soporte vital básico</h6>
          <p class="card-text text-lg-center">Proximamente</p>
        </div>
        <div class="container mb-2">
          <div class="row justify-content-center align-items-end">
            <div class="col">
              <a class="btn btn-raised bg-danger text-light font-weight-bold">Proximamente</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card  mb-3 text-center" style="width: 15rem;">
        <img class="card-img-top" src="./assets/sutura.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="m-4">Manejo de heridas y sutura</h6>
          <p class="card-tex text-lg-center">Dr. Oswaldo Cantillo</p>
        </div>
        <div class="container mb-2">
          <div class="row justify-content-center align-items-end">
            <div class="col">
              <a [routerLink]="['/content']" class="btn btn-raised bg-info text-light font-weight-bold">Ver curso</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card  mb-3 text-center" style="width: 15rem;">
        <img class="card-img-top" src="./assets/sst.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="m-4">SST-Seguridad en el trabajo</h6>
          <p class="card-tex text-lg-center">Proximamente</p>
        </div>
        <div class="container mb-2">
          <div class="row justify-content-center align-items-end">
            <div class="col">
              <a class="btn btn-raised bg-danger text-light font-weight-bold">Proximamente</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="contact" class="card" style="background-image: url(./assets/contacto.jpg); background-size: cover">
  <h1 class="mb-1 py-3 col-lg-12 text-center text-light font-weight-bold">ESCRIBENOS</h1>
  <br>
  <h3 class=" mb-5 text-center text-light">Nos pondremos en contacto para responder tus inquietudes.</h3>
  <div class="container d-flex justify-content-around align-items-center ">
    <form class="formulario  conten col-lg-4 p-5 m-0 " action="">
      <div class="form-group  ">
        <label for="Nombre" class="bmd-label-floating text-light font-weight-bold ">Nombre</label>
        <input type="text" class="form-control text-light " id="nombre">
      </div>
      <div class="form-group">
        <label for="correo" class="bmd-label-floating text-light font-weight-bold">Correo</label>
        <input type="email" class="form-control text-light " id="correo">
      </div>
      <div class="form-group">
        <label for="mensaje" class="bmd-label-floating text-light font-weight-bold">Mensaje</label>
        <textarea class="form-control text-light" id="mensaje" rows="3"></textarea>
      </div>
      <div class="form-group  text-center">
        <button class="btn btn-raised btn-info " type="submit">Enviar</button>
      </div>
    </form>
  </div>

</section>

<section class="mt-5" id="equipo">
  <div class="container">
    <h2 class="text-center mb-5 text-secondary mb-5 py-5">Equipo MS</h2>
    <div class="row justify-content-around">
      <div class="card  mb-3 text-center" style="width: 16rem; height: 22rem;">
        <img class="card-img-top img-fluid" src="./assets/fondo1.png" alt="Card image cap">
        <div class="text-center" style="margin-top: -55px;">
          <img class="img-fluid rounded-circle" src="/assets/maribelfondo.jpg" alt="" style="height: 100px; width: 100px;">
        </div>
        <div class="card-body">
          <h6 class="m-3">Maribel Rodriguez Castro</h6>
          <p class="card-text text-lg-center">Instrumentadora Quirúrgica</p>
          <p class="text-muted" style="font-size: 11px;">
            <i class="fa fa-envelope-o text-muted text-dark mr-2"></i> maribell95_castro@hotmail.con</p>
          <div class="row justify-content-center ">
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab ">
                <i class="fa fa-twitter-square fa-lg"></i>
              </button>
            </span>
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab mx-2">
                <i class="fa fa-facebook-square fa-lg"></i>
              </button>
            </span>
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab">
                <i class="fa fa-instagram fa-lg"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="card  mb-3 text-center" style="width: 16rem; height: 22rem;">
        <img class="card-img-top img-fluid" src="./assets/fondo4.png" alt="Card image cap">
        <div class="text-center" style="margin-top: -55px;">
          <img class="img-fluid rounded-circle" src="/assets/kate.png" alt="" style="height: 100px; width: 100px;">
        </div>
        <div class="card-body">
          <h6 class="m-3">Katerin Sarabi Correa</h6>
          <p class="card-text text-lg-center">Instrumentadora Quirúrgica</p>
          <p class="text-muted" style="font-size: 11px;">
            <i class="fa fa-envelope-o text-muted text-dark mr-2"></i>katerin2909o@hotmail.con</p>
          <div class="row justify-content-center ">
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab ">
                <i class="fa fa-twitter-square fa-lg"></i>
              </button>
            </span>
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab mx-2">
                <i class="fa fa-facebook-square fa-lg"></i>
              </button>
            </span>
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab">
                <i class="fa fa-instagram fa-lg"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="card  mb-3 text-center" style="width: 16rem; height: 22rem;">
        <img class="card-img-top img-fluid" src="./assets/fondo3.png" alt="Card image cap">
        <div class="text-center" style="margin-top: -55px;">
          <img class="img-fluid rounded-circle" src="/assets/andresfondo.jpg" alt="" style="height: 100px; width: 100px;">
        </div>
        <div class="card-body">
          <h6 class="m-3">Andres Madero Vergara</h6>
          <p class="card-text text-lg-center">Desarrollador de software </p>
          <p class="text-muted" style="font-size: 11px;">
            <i class="fa fa-envelope-o text-muted text-dark mr-2"></i>amaderov1787@gmail</p>
          <div class="row justify-content-center ">
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab ">
                <i class="fa fa-twitter-square fa-lg"></i>
              </button>
            </span>
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab mx-2">
                <i class="fa fa-facebook-square fa-lg"></i>
              </button>
            </span>
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab">
                <i class="fa fa-instagram fa-lg"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="card  mb-3 text-center" style="width: 16rem; height: 22rem;">
        <img class="card-img-top img-fluid" src="./assets/fondo2.png" alt="Card image cap">
        <div class="text-center" style="margin-top: -55px;">
          <img class="img-fluid rounded-circle" src="/assets/david.jpg" alt="" style="height: 100px; width: 100px;">
        </div>
        <div class="card-body">
          <h6 class="m-3">David Mendoza Pardo</h6>
          <p class="card-text text-lg-center">Desarrollador de software </p>
          <p class="text-muted" style="font-size: 11px;">
            <i class="fa fa-envelope-o text-muted text-dark mr-2"></i>albermen2209@gmail</p>
          <div class="row justify-content-center ">
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab ">
                <i class="fa fa-twitter-square fa-lg"></i>
              </button>
            </span>
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab mx-3">
                <i class="fa fa-facebook-square fa-lg"></i>
              </button>
            </span>
            <span class="btn-group-sm">
              <button type="button" class="btn btn-outline-info bmd-btn-fab">
                <i class="fa fa-instagram fa-lg"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>